<main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        <div class="offer-list">
            {{#each crypto}}
                {{>currency}}
            {{/each}}
        </div>
    </section>
</main>